.body-main {
  position: absolute;
  top: 16.5%;
  left: 25%;
  background-color:green;
  clip-path: polygon(95% 31%, 67% 14%, 48% 21%, 36% 55%, 92% 95%);
  height: 200px;
  width: 200px;
}

.body1 {
  position: absolute;
  top: 16.5%;
  left: 25%;
  background-color:green;

  height: 200px;
  width: 200px;
}



















.box {
  position: relative;
  margin: auto;
  display: block;
  background: none;
  margin-top: 8%;
  width: 600px;
  height: 600px;
}
