
.box {
  position: relative;
  margin: auto;
  display: block;
  background: none;
  margin-top: 8%;
  width: 600px;
  height: 600px;
}



.nose-main {
  clip-path: polygon(69% 13%, 79% 23%, 61% 49%, 35% 34%);
  color: #79ea38;
  position: absolute;
  top: 20%;
  left: 20%;
  height: 400px;
  width: 300px;
}

.nose-tip {
  clip-path: polygon(73% 51%, 82% 92%, 100% 100%);
  color: #204f05;
}

.face {
  clip-path: polygon(24% 30%, 0 80%, 75% 86%);
  color: #48c600;
}

.face-shadow-right {
  clip-path: polygon(50% 0%, 98% 100%, 100% 100%);
  color: #204f05;
}

.head {
  clip-path: polygon(11% 42%, 0% 100%, 41% 26%);
  color: #0f700a;
}

.neck {
  clip-path: polygon(0 79%, 3% 97%, 24% 85%);
  color: #204f05;
}

.ear-front {
  clip-path: polygon(8% 66%, 8% 96%, 23% 89%);
  color: #48c600;
}

.ear-back {
  clip-path: polygon(83% 78%, 80% 88%, 100% 100%);
  color: #204f05;
}

.chin {
  clip-path: polygon(75% 94%, 96% 94%, 97% 98%, 85% 98%);
  color: #204f05;
}

.chest-top {
  clip-path: polygon(24% 0, 35% 0, 66% 49%, 56% 52%);
  color: #0f700a;
}

.torso-shadow {
  clip-path: polygon(45% 10%, 0% 100%, 1% 100%);
  color: #204f05;
}

.chest-bottom {
  clip-path: polygon(89% 0, 100% 0%, 15% 99%, 0% 100%);
  color: #0f700a;
}

.chest-back {
  clip-path: polygon(89% 0, 88% 0, 15% 99%, 8% 93%);
  color: #204f05;
}

.trunk-top {
  clip-path: polygon(35% 14%, 3% 41%, 100% 100%);
  color: #0f700a;
}

.trunk-btm {
  clip-path: polygon(2% 55%, 5% 100%, 100% 100%);
  color: #204f05;
}

.tail {
  clip-path: polygon(21% 48%, 15% 88%, 42% 91%);
  color: #0f700a;
}

.back {
  clip-path: polygon(9% 63%, 0% 100%, 50% 66%);
  color: #79ea38;
}

.leg-rear-fr {
  clip-path: polygon(59% 89%, 74% 78%, 49% 32%, 37% 44%, 38% 76%);
  color: #0f700a;
}

.leg-rear-back-top {
  clip-path: polygon(29% 68%, 28% 77%, 37% 86%, 63% 72%);
  color: #204f05;
}

.leg-rear-back-btm {
  clip-path: polygon(30% 68%, 60% 53%, 70% 77%, 45% 79%);
  color: #0f700a;
}

.leg-fr-btm {
  clip-path: polygon(30% 46%, 75% 55%, 72% 83%, 47% 78%);
  color: #48c600;
}

.leg-fr-top {
  clip-path: polygon(20% 43%, 65% 64%, 72% 43%, 63% 32%, 59% 42%);
  color: #0f700a;
}

.leg-fr-back-top {
  clip-path: polygon(0 60%, 72% 70%, 82% 100%, 0% 100%);
  color: #204f05;
}

.leg-fr-back-btm {
  clip-path: polygon(8% 79%, 39% 85%, 44% 100%, 0% 100%);
  color: #0f700a;
}
