body {
  background: #25A9FC;
}
.box {
  position: relative;
  margin: auto;
  display: block;
  background: none;
  margin-top: 8%;
  width: 600px;
  height: 420px;
}

.head {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}
.head-copy {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}
.left-ear {
  position: absolute;
  top: 5%;
  left: -20%;
  width: 60%;
  height: 65%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}
.left-inner-ear {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #819CAF;
  border-radius: 50%;
  z-index: 1;
}
